@font-face {
    font-family: 'Norse';
    src: url('./assets/fonts/Norse-Bold.woff2') format('woff2'),
        url('./assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    --page-background: ghostwhite;
    --page-theme-color: #088F8F;
}

.page {
    display: flex;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--page-background);
}

.sidebar {
    width: 30vw;
    height: 100vh;
    background:url("./assets/images/background-image.jpg") center / cover;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 100%;
    margin-top: 18vh;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 75%);
    font-family: Norse;
    font-size: 3rem;
    color: white;
    padding: 5rem;
}

.sidebar-header img {
    height: 12vh;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.sidebar-footer p {
    color: white;
}

.sidebar p a {
    color: inherit;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.page-description{
    margin-top: auto;
    font-weight: 600;
    width: clamp(45ch, 50%, 75ch);
    margin: 12vh 5vw 5vh;
}

.catchphrase {
    margin-top: 1rem;
    
}

.form-container {
  margin-bottom: auto;  
}

.form-container h1,
.form-container button  {
    margin: auto 5vw;
}

.form-container p {
    margin: 2.5vh 5vw;
}

.main-form {
    background-color: #FFF;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}



.form-row {
    flex: 1;
    display: flex;
    margin: auto 5vw;
    gap: 5vw;
}

.form-control {
    display: flex;
    flex-direction: column;
}

form button[type=submit] {
    color: white;
    background-color: var(--page-theme-color);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 8px;
}

.form-container a {
    color: var(--page-theme-color);
    text-decoration: none;
    font-weight: bold;
}